<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h3 class="text-white">Rent a Dino</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active d-flex align-items-center m-3">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if current_user %>
          <li class="nav-item dropdown d-flex align-items-center">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.avatar.key, crop: :thumb, width: 100 %>" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My dinos", my_dinosaurs_path, class: "dropdown-item" %>
              <%= link_to "My rents", my_rents_path, class: "dropdown-item" %>
              <%= link_to "My bookings", my_bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
                  class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div class="d-flex align-items-center">
            <%= link_to "log in", new_user_session_path, class: "btn btn-secondary" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container my-5">

  <div class="row">
    <% @dinos.each do |dino| %>
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center p-0">
        <%= link_to dinosaur_path(dino), class: "text-decoration-none" do %>
          <div class="card-dino mb-5 bg-black text-white opacity-85">
            <%= cl_image_tag dino.photos[0].key, crop: :fill, width: 300 %>
            <div class="card-dino-infos">
              <div></div>
              <%= cl_image_tag dino.owner.avatar.key, class: "card-dino-user avatar-bordered", crop: :thumb, width: 100 %>
            </div>
            <div>
              <h5 class="text-center"><%= dino.name %></h5>
              <div class="row align-items-center mx-1 mb-3">
                <div class="col-7 ps-2 pe-0">
                  <p><%= raw("<i class='fa-solid fa-paw'></i>")%> <%=dino.species %></p>
                  <p><%= raw("<i class='fa-solid fa-location-crosshairs'></i>")%> <%=dino.address %></p>
                </div>
                <div class="col-5 ps-0 pe-2">
                  <p><%= raw("<i class='fa-solid fa-euro-sign'></i>")%> <strong><%=dino.price_per_day %></strong> / day</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="sticky-btn">
    <%= link_to "Display map", dinosaurs_map_path %>
  </div>

</div>


