<div class="container page mt-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <% @dino.photos.each do |p| %>
        <%= cl_image_tag p.key, height: 300, width: 700, crop: :fill  %>
      <% end %>
      <h2 id="desc-name"><%=@dino.name%></h2>
      <p id="desc-species"><%= raw("<i class='fa-solid fa-paw'></i>") %><em><%= @dino.species %></em></p>
      <p class="mt-24"><%=@dino.description%></p>
      <p><%= raw("<i class='fa-solid fa-euro-sign'></i>") %><strong><%= @dino.price_per_day.fdiv(100) %></strong> / day</p>
    </div>
    <div class="col-12 col-lg-4">
      <% if current_user == @dino.owner %>
        <h3 id="my-reminder-title"> Who want my dino </h3>
        <% if @dino.bookings.count != 0 %>
          <div class="container card-reminder">
            <% @dino.bookings.reverse.each do |b| %>
              <%= link_to my_rents_path, class: "text-decoration-none" do %>
                <div class="row justify-content-between">
                  <div class="col-6 text-center">
                    <p><%= b.user.first_name %></p>
                    <p><%= b.user.last_name %></p>
                  </div>
                  <div class="col-6">
                    <h5 class="<%= b.status %>">
                      <% if b.status == "accept" %>
                        <%= "Accepted" %>
                      <% elsif b.status == "deny" %>
                        <%= "Denied" %>
                      <% else %>
                        <%= "Pending..." %>
                      <% end %>
                      </h5>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p class="text-center my-5"><em>Feeling lonely... Waiting for a booker</em></p>
        <% end %>
      <% else %>
        <div data-controller="display-price" data-display-price-dino-price-value="<%=@dino.price_per_day.fdiv(100)%>" class="rounded border p-2 border-bottom">
          <h2 class="text-center"><%="Book your Dino"%></h2>
          <hr />
            <%= simple_form_for([@dino, @booking]) do |f| %>
              <%= f.input :start_date, as: :date, html5: true, label: "Start of booking", input_html: {min: Date.today, data: {action: "change->display-price#compute", display_price_target: "startDate"}}%>
              <%= f.input :end_date, as: :date, html5: true, label: "End of booking", input_html: {min: Date.today, data: {action: "change->display-price#compute", display_price_target: "endDate"}}%>
              <p class="text-center"><b><span data-display-price-target="totalPrice"></span></b></p>
              <div class="d-flex justify-content-center">
                <%= f.button :submit, "Book now", disabled: true, class: "btn btn-outline-secondary", data: { display_price_target: "button" }%>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
