<div class="banner">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="main-title">
      <svg viewBox="0 0 600 300">
        <!-- Symbol-->
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="50%" dy=".35em">Rent a Dino</text>
        </symbol>
        <!-- Duplicate symbols-->
        <use class="text" xlink:href="#s-text"></use>
        <use class="text" xlink:href="#s-text"></use>
        <use class="text" xlink:href="#s-text"></use>
        <use class="text" xlink:href="#s-text"></use>
        <use class="text" xlink:href="#s-text"></use>
      </svg>
    </div>
    <% if current_user %>
      <ul style="list-style: none">
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= cl_image_path current_user.avatar.key, crop: :thumb, width: 100 %>" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My dinos", my_dinosaurs_path, class: "dropdown-item" %>
            <%= link_to "My rents", my_rents_path, class: "dropdown-item" %>
            <%= link_to "My bookings", my_bookings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},
                class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <div class="btn-login">
        <%= link_to "log in", new_user_session_path, class: "btn btn-ghost" %>
      </div>
    <% end %>
  </div>
  <div class="btn-get-started">
    <%= link_to "Find your dino", dinosaurs_path, class: "btn btn-flat" %>
  </div>
  <div id="timeline-wrap">
    <div id="timeline"></div>
    <div class="marker mfirst timeline-icon one">
      <div class="marker-text">
        <p>Find it</p>
      </div>
      <i class="fa fa-person"></i>
    </div>
    <div class="marker m2 timeline-icon two">
    <div class="marker-text">
        <p>Rent it</p>
      </div>
      <i class="fa fa-credit-card"></i>
    </div>
    <div class="marker m3 timeline-icon three">
      <div class="marker-text">
        <p>Meet it</p>
      </div>
      <i class="fa fa-dragon"></i>
    </div>
    <div class="marker mlast timeline-icon four">
      <div class="marker-text">
        <p>Love it</p>
      </div>
      <i class="fa fa-heart"></i>
    </div>
  </div>
</div>
