<div class="container my-6 text-white opacity-85 col-12 col-md-6 col-lg-4 p-3 form-shadow" >
  <h1 class= "text-center">Add a Dino</h1>
  <hr />
  <h4 class="fa-light fa-file-circle-info">Enter the Dino's info here :</h4>
  <%= simple_form_for(@dino, method: :post, url: my_dinosaurs_path) do |f| %>
    <div class="form-inputs mt-3 mb-3">
      <div class="d-flex justify-content-between">
        <div class="me-2 text-white">
          <%= f.input :name %>
        </div>
        <div class= "ms-2">
          <%= f.input :species, collection: Dinosaur::SPECIES %>
        </div>
      </div>
      <%= f.input :address %>
      <%= f.input :description,  placeholder: "Mininum 6 characters"%>
      <%= f.input :price_per_day, label: "Price €" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Pictures" %>
    </div>
    <div class="form-inputs text-center mt-4">
      <%= f.button :submit, "Rent my dino", class: "form-button", style: "width: 50%" %>
    </div>
  <% end %>
</div>

