<!DOCTYPE html>
<html>
  <head>
    <title>RentADino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="background_img text_white">
    <%= render 'layouts/navbar' unless current_page?(root_path) %>
    <div class="main-container">
      <p class="notice m-0 <%= notice ? "" : "d-none" %>"><%= notice %></p>
      <p class="alert m-0"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
