<!DOCTYPE html>
<html>
  <head>
    <title>RentADino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body class="background_img text_white">
    <%= render 'layouts/navbar' unless current_page?(root_path) || current_page?(new_user_session_path) %>
    <%= render 'layouts/navbar_login' if current_page?(new_user_session_path) %>
    <div class="main-container">
      <p class="notice m-0 <%= "d-none" if @hide_notice %>"><%= notice %></p>
      <p class="alert m-0"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
